### GUIDE 4. INFERENTIAL STATISTICS

#### Developed by. Luis Villarroel. Master in statistics
#### Email. l_villarro@ucb.edu.bo  l_villarro@yahoo.es
#### Phone. +1 (206) 307 7131
##### Seattle Washington, USA

In [1]:
import pandas as pd
import numpy as nu 
import scipy.stats as sc
import matplotlib.pyplot as plt
import statsmodels.api as sm
#!pip install pingouin
#import pingouin as pg

In [2]:
datos=pd.read_spss("D:/GESTIONES/GESTION 2021/CURSOS/UCB/1. UCB SCZ POSTGRADO/UCB POSTGRADO/BD/BDATOS.SAV")

In [4]:
datos.dtypes

ID           float64
sexo        category
edad         float64
compra      category
ingresos     float64
gasto        float64
vivienda     float64
ngasto      category
dtype: object

In [5]:
datos.head()

    ID   sexo  edad compra  ingresos  gasto  vivienda  ngasto
0  1.0  Mujer  43.0     si     502.0  550.0       1.0    Alto
1  2.0  Mujer  61.0     si     703.0  400.0       1.0    Bajo
2  3.0  Mujer  36.0     si     485.0  400.0       0.0    Bajo
3  4.0  Mujer  55.0     si     572.0  560.0       1.0    Alto
4  5.0  Mujer  51.0     si     570.0  470.0       1.0  Normal

In [34]:
datos.columns

Index(['ID', 'sexo', 'edad', 'compra', 'ingresos', 'gasto', 'vivienda',
       'ngasto'],
      dtype='object')

### 1. METODOS DE ESTIMACION A 1 Y 2 VARIABLES

#### H01. ESTIMACION DE UN PROMEDIO

#### H02. ESTIMACION DE UNA PROPORCION

In [3]:
datos['vivienda']=datos.vivienda.replace({1:"SI", 0:"No"})
dato1=datos[["sexo","vivienda"]]
#print (dato1)
pd.crosstab(dato1.sexo, dato1.vivienda)

vivienda  No  SI
sexo
Hombre     9  12
Mujer     10  11

In [4]:
n=9+10
p_fm=9/n
print (p_fm)
se_fm=nu.sqrt((p_fm*(1-p_fm)/n)) #usando numpy
print(se_fm)
LI=p_fm - 1.96*se_fm
LS=p_fm + 1.96*se_fm
print ("Limite Inferior:",LI, "limite superior:",LS)

0.47368421052631576
0.11454888159631764
Limite Inferior: 0.2491684025975332 limite superior: 0.6982000184550983

In [6]:
# Calculo del intervalo de confianza usando statsmodel
import statsmodels.api as sm
sm.stats.proportion_confint(n * p_fm, n)

(0.24917252812819013, 0.6981958929244414)

#### H03. ESTIMACION DE UNA VARIANZA

### 2. TEST DE HIPOTESIS A 1 Y 2 VARIABLES

#### H04. TEST DE CONFORMIDAD DE UN PROMEDIO

In [7]:
# Test de conformidad con Scipy.Stats
#ingreso1=datos.ingresos
ingresos1=datos["ingresos"]
sc.ttest_1samp(ingresos1,550)

Ttest_1sampResult(statistic=-2.5879176620357125, pvalue=0.013296735725753028)

#### H05. TEST DE CONFORMIDAD DE UNA PROPORCION

#### H06. TEST DE CONFORMIDAD DE UNA VARIANZA

#### H07. TEST DE COMPARACION DE 2 PROMEDIOS

In [8]:
# Dividir el data.frame
opcion1=['Mujer']
mujer=datos.loc[datos['sexo'].isin(opcion1)]
print (mujer)
opcion2=['Hombre']
hombre=datos.loc[datos['sexo'].isin(opcion2)]
print(hombre)

      ID   sexo  edad compra  ingresos  gasto vivienda  ngasto
0    1.0  Mujer  43.0     si     502.0  550.0       SI    Alto
1    2.0  Mujer  61.0     si     703.0  400.0       SI    Bajo
2    3.0  Mujer  36.0     si     485.0  400.0       No    Bajo
3    4.0  Mujer  55.0     si     572.0  560.0       SI    Alto
4    5.0  Mujer  51.0     si     570.0  470.0       SI  Normal
5    6.0  Mujer  45.0     no     320.0  270.0       No    Bajo
6    7.0  Mujer  44.0     si     734.0  800.0       SI    Alto
7    8.0  Mujer  64.0     si     719.0  690.0       SI    Alto
8    9.0  Mujer  56.0     si     493.0  570.0       SI    Alto
9   10.0  Mujer  58.0     si     620.0  340.0       SI    Bajo
10  11.0  Mujer  57.0     no     432.0  460.0       No  Normal
11  12.0  Mujer  37.0     si     504.0  500.0       SI  Normal
12  13.0  Mujer  64.0     no     350.0  340.0       No    Bajo
13  14.0  Mujer  54.0     no     373.0  360.0       No    Bajo
14  15.0  Mujer  36.0     no     370.0  400.0       SI    Bajo
15  16.0  Mujer  50.0     no     334.0  400.0       No    Bajo
16  17.0  Mujer  58.0     si     540.0  500.0       SI  Normal
17  18.0  Mujer  60.0     no     450.0  480.0       No  Normal
18  19.0  Mujer  54.0     no     350.0  400.0       No    Bajo
19  20.0  Mujer  39.0     no     345.0  500.0       No  Normal
20  21.0  Mujer  44.0     no     394.0  500.0       No  Normal
      ID    sexo  edad compra  ingresos  gasto vivienda  ngasto
21  22.0  Hombre  52.0     si     629.0  600.0       SI    Alto
22  23.0  Hombre  68.0     si     750.0  800.0       SI    Alto
23  24.0  Hombre  62.0     si     462.0  460.0       SI  Normal
24  25.0  Hombre  57.0     si     641.0  300.0       No    Bajo
25  26.0  Hombre  54.0     no     562.0  470.0       SI  Normal
26  27.0  Hombre  58.0     no     508.0  600.0       No    Alto
27  28.0  Hombre  55.0     si     562.0  500.0       SI  Normal
28  29.0  Hombre  42.0     no     441.0  400.0       No    Bajo
29  30.0  Hombre  45.0     no     383.0  370.0       No    Bajo
30  31.0  Hombre  57.0     no     550.0  500.0       SI  Normal
31  32.0  Hombre  51.0     no     461.0  470.0       No  Normal
32  33.0  Hombre  56.0     no     418.0  400.0       No    Bajo
33  34.0  Hombre  48.0     no     375.0  320.0       No    Bajo
34  35.0  Hombre  42.0     no     413.0  450.0       No  Normal
35  36.0  Hombre  45.0     si     508.0  530.0       SI    Alto
36  37.0  Hombre  55.0     si     636.0  600.0       SI    Alto
37  38.0  Hombre  46.0     si     680.0  690.0       SI    Alto
38  39.0  Hombre  56.0     si     621.0  670.0       SI    Alto
39  40.0  Hombre  37.0     si     545.0  470.0       SI  Normal
40  41.0  Hombre  49.0     si     382.0  370.0       SI    Bajo
41  42.0  Hombre  51.0     no     370.0  380.0       No    Bajo

In [9]:
from scipy.stats import  ttest_ind

y=mujer["ingresos"]
x=hombre["ingresos"]
stat, p=ttest_ind(x, y)
print ('stat=%.3f, p=%.3f' %(stat, p))
if p > 0.05:
    print ('Se acepta la hipotesis nula')
else:
    print ('Se rechaza la hipoteis nula')

stat=0.932, p=0.357
Se acepta la hipotesis nula

In [12]:
model = pg.ttest(x, y)  # output is a pandas dataframe
print(model)

NameError: name 'pg' is not defined

#### H09. TEST DE COMPARACION DE 2 PROMEDIOS. MUESTRAS DEPENDIENTES

#### H09. TEST DE COMPARACION DE 2 PROPORCIONES

#### H10. TEST DE COMPARACION DE 2 VARIANZAS

In [48]:
model=pg.homoscedasticity(datos, dv='ingresos', group='sexo')
print(model)

               W      pval  equal_var
levene  0.412784  0.524225       True

#### H11. ANOVA

In [36]:
ANOVA=pg.anova(data=datos, dv='ingresos', between='sexo', detailed=True)
print(ANOVA)

   Source             SS  DF            MS         F     p-unc       np2
0    sexo   12932.595238   1  12932.595238  0.868774  0.356887  0.021258
1  Within  595441.047619  40  14886.026190       NaN       NaN       NaN

### 3. OTROS TEST DE HIPOTESIS

#### H12. TEST DE SIGNIFICACION DE CORRELACION

In [18]:
x=datos["ingresos"]
y=datos["gasto"]
pg.corr(x,y)

,n,r,CI95%,r2,adj_r2,p-val,BF10,power
pearson,42,0.682892,"[0.48, 0.82]",0.466341,0.438974,6.280094e-07,3.072e+04,0.999517

#### H13. TEST DE SIGNIFICACION GLOBAL E INDIVIDUALES DE LA REGRESION

In [14]:
# Regresion con libreria statsmodel
import statsmodels.formula.api as smf
results = smf.ols('gasto ~ ingresos', data=datos).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  gasto   R-squared:                       0.466
Model:                            OLS   Adj. R-squared:                  0.453
Method:                 Least Squares   F-statistic:                     34.95
Date:                Thu, 01 Apr 2021   Prob (F-statistic):           6.28e-07
Time:                        14:50:37   Log-Likelihood:                -248.45
No. Observations:                  42   AIC:                             500.9
Df Residuals:                      40   BIC:                             504.4
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    132.6031     60.760      2.182      0.035       9.803     255.403
ingresos       0.6967      0.118      5.912      0.000       0.459       0.935
==============================================================================
Omnibus:                       12.390   Durbin-Watson:                   1.892
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               13.243
Skew:                          -1.044   Prob(JB):                      0.00133
Kurtosis:                       4.791   Cond. No.                     2.21e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.21e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [38]:
# Regresion con libreria pingouin
pg.linear_regression(datos['gasto'], datos['ingresos'])

,names,coef,se,T,pval,r2,adj_r2,CI[2.5%],CI[97.5%]
0,Intercept,178.796371,56.301589,3.175690,2.876676e-03,0.466341,0.453,65.006615,292.586126
1,gasto,0.669345,0.113214,5.912213,6.280094e-07,0.466341,0.453,0.440531,0.898160

#### H14. TEST DE HOMOGENEIDAD

#### H15. TEST DE INDEPENDENCIA

In [45]:
expected, observed, stats = pg.chi2_independence(datos, x='sexo', y='ngasto')
stats

                 test    lambda      chi2  dof      pval    cramer     power
0             pearson  1.000000  0.583333  2.0  0.747018  0.117851  0.096556
1        cressie-read  0.666667  0.583824  2.0  0.746834  0.117901  0.096597
2      log-likelihood  0.000000  0.585549  2.0  0.746190  0.118075  0.096743
3       freeman-tukey -0.500000  0.587501  2.0  0.745463  0.118271  0.096907
4  mod-log-likelihood -1.000000  0.590024  2.0  0.744523  0.118525  0.097120
5              neyman -2.000000  0.596825  2.0  0.741995  0.119206  0.097694

#### H16. TEST DE NORMALIDAD UNIVARIADO Y MULTIVARIADO

In [28]:
print(pg.normality(datos["ingresos"]))
print(pg.normality(datos["gasto"]))

                W      pval  normal
ingresos  0.94982  0.063631    True
              W      pval  normal
gasto  0.943949  0.039331   False

In [27]:
print(pg.multivariate_normality(datos[["ingresos","gasto"]]))

HZResults(hz=1.375640770267462, pval=0.001804553318140565, normal=False)