#### ANALISIS DE TEXTO. Realizar clasificación con texto de un archivo de excel

#### Developed by. Luis Villarroel. Master in statistics
#### Email: l_villarro@ucb.edu.bo
####             l_villarro@yahoo.es
#### Phone. +1 (425) 3640605
#### Seattle Washington, USA

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans

In [2]:
# Leer el archivo de Excel
df = pd.read_excel("prueba.xlsx")

In [3]:
# Inicializar el vectorizador Tf-idf
tfidf = TfidfVectorizer()

# Transformar el texto en una matriz Tf-idf
X = tfidf.fit_transform(df["RESP1"])

# Inicializar el algoritmo de clustering KMeans
kmeans = KMeans(n_clusters=5)

# Ajustar el modelo de clustering a los datos
kmeans.fit(X)

# Asignar cada documento a un cluster
df["cluster"] = kmeans.predict(X)

print("Documentos agrupados en clusters:")
print(df)

Documentos agrupados en clusters:
      ESTABLECIMIENTO RESPONSABLE                  RESP1  cluster
0                 1.0           A         School/college        1
1                 2.0           B  Roaming around freely        4
2                 3.0           C             Travelling        2
3                 4.0           D    Friends , relatives        3
4                 5.0           E             Travelling        2
...               ...         ...                    ...      ...
1177              NaN         NaN             Travelling        2
1178              NaN         NaN    Friends , relatives        3
1179              NaN         NaN         School/college        1
1180              NaN         NaN         School/college        1
1181              NaN         NaN         School/college        1

[1182 rows x 4 columns]

In [3]:
df

      ESTABLECIMIENTO RESPONSABLE                  RESP1  cluster
0                 1.0           A         School/college        0
1                 2.0           B  Roaming around freely        4
2                 3.0           C             Travelling        1
3                 4.0           D    Friends , relatives        3
4                 5.0           E             Travelling        1
...               ...         ...                    ...      ...
1177              NaN         NaN             Travelling        1
1178              NaN         NaN    Friends , relatives        3
1179              NaN         NaN         School/college        0
1180              NaN         NaN         School/college        0
1181              NaN         NaN         School/college        0

[1182 rows x 4 columns]

In [4]:
# Calcular la tabla de frecuencia de la columna 'columna1'
tabla_frecuencia = df['cluster'].value_counts()

# Imprimir la tabla de frecuencia
print(tabla_frecuencia)

1    379
0    244
3    225
2    184
4    150
Name: cluster, dtype: int64