In [1]:
import pandas as pd
from dash import Dash, html, dcc
import plotly.express as px

In [2]:

df1=pd.DataFrame ({
    "Fruit":["apples","orange","banana", "apples","orange","banana"],
    "Amount":[4,1,2,2,4,5],
    "City":["cbba", "cbba", "cbba", "lpz", "lpz", "lpz"]
    
})

In [3]:
df1

    Fruit  Amount  City
0  apples       4  cbba
1  orange       1  cbba
2  banana       2  cbba
3  apples       2   lpz
4  orange       4   lpz
5  banana       5   lpz

In [4]:
app =Dash(__name__)
df=pd.DataFrame ({
    "Fruit":["apples","orange","banana", "apples","orange","banana"],
    "Amount":[4,1,2,2,4,5],
    "City":["cbba", "cbba", "cbba", "lpz", "lpz", "lpz"]
    
})
fig = px.bar(df, x="Fruit", y="Amount", color="City", barmode="group")

app.layout = html.Div(children=[
    html.H1(children='Hello Dash'),

    html.Div(children='''
        Dash: A web application framework for your data.
    '''),

    dcc.Graph(
        id='example-graph',
        figure=fig
    )
])
if __name__ == '__main__':
    app.run_server(debug=True)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

SystemExit: 1

C:\Users\l_vil\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3465: UserWarning:

To exit: use 'exit', 'quit', or Ctrl-D.