In [1]:
import pandas as pd
from dash import Dash, html, dcc
import plotly.express as px

In [2]:
datos=pd.read_excel("peso.xlsx")

In [3]:
datos.describe()

            EDAD       PESO
count   7.000000   7.000000
mean    5.857143  19.857143
std     3.716117  10.415190
min     0.000000   3.000000
25%     3.500000  13.500000
50%     7.000000  23.000000
75%     8.500000  27.000000
max    10.000000  32.000000

In [4]:
datos.mean()

EDAD     5.857143
PESO    19.857143
dtype: float64

In [5]:
app=dash.Dash()
app.layout=html.Div(children=[
        html.H1(children='First dashboard')
    ])
if __name__=='__main__':
    app.run_server(debug=False)

NameError: name 'dash' is not defined

In [6]:
datos

   EDAD  PESO
0     5    17
1    10    32
2     7    23
3     8    26
4     2    10
5     0     3
6     9    28